<div>
  <input type="text" name="seanceTheme" [(ngModel)]="seance.theme">
  <button [hidden]="add" (click)="addSeance()">add Seance</button>
  <button [hidden]="edit" (click)="updateSeance()">Update Seance</button>
</div>
<table id="seances">
  <tr>
    <th>Thème</th>
    <th>Date</th>
    <th>Heure</th>
    <th>Durée</th>
    <th>Coach</th>
    <th>Update</th>
    <th>Delete</th>
  </tr>
  <tr *ngFor="let seance of seances">
    <td>{{seance.theme}}</td>
    <td>{{ formatDate(seance.date_session) }}</td>
    <td>{{seance.heure}}</td>
    <td>{{seance.duree}}h</td>
    <td>{{seance.coach}}</td>
    <td>
      <button (click)="setSeanceEdit(seance)">Update</button>
    </td>
    <td>
      <button (click)="removeSeance(seance)">Delete</button>
    </td>
  </tr>
</table>
